/* {% load static %} */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


.home-body{
  background: rgba(0,0,0,0.2);
  background-blend-mode: overlay;
  /* background-image:url('./img/img1.jpeg'); */
  /* background-color: #000000; */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fafafa;
  margin:0;
  padding:0;
 font-family: 'Comfortaa', cursive;

}

.about-body{
  background-color: rgba(0,0,0,0.2);
  background-blend-mode: overlay;
  /* background-image:url( './img/img1.jpeg'); */
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fafafa;
  margin:0;
  padding:0;
 font-family: 'Comfortaa', cursive;

}
 #heading{
font-family: 'Luckiest Guy', cursive;
  display:flex;
  /* background-color: black; */
  font-size: 10vw;
  text-align: center ;
  justify-content: center;

 }
 .letter:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
 .h-hostels:hover{
  color:#e641f2;

 }
 .o-hostels:hover{
  color:#2bb8ff;

 }
 .s-hostels:hover{
  color:#2eeeff;

 }
 .t-hostels:hover{
  color:#05ff22;

 }
 .e-hostels:hover{
  color:#eeff05;

 }
 .l-hostels:hover{
  color:#ff9f19;

 }
 .ss-hostels:hover{
  color:#fc0a0a;

 }



.stylebtn{
  margin: 30px;
  border-radius: 50px;
  opacity:0.8;
  
}
.stylebtn:hover {
  
  border-color: black;
  opacity: 0.6}

.stylebtn a {
  color: #000000;
  text-decoration:none;
}
.home{
    background-attachment: fixed;
  margin-top: 50px;

}



/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}



[class*="col-"] {
    padding: 1rem;
}

.dropdown-menu {
  border-radius: 10px;
  opacity:0.9;
}
.dropdown-item{

   border-radius: 50px;
  opacity:0.9;

}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/




/*
.glow {
  font-family: 'Black And White Picture', sans-serif;
  font-size: 10vw;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}*/




/* Style the list */
ul.breadcrumb {
  border-radius: 50px;
  color: #000000;
  padding: 10px 16px;
  list-style: none;
  background-color: #fafafa;
  opacity:0.8;
}

ul.breadcrumb:hover{
  opacity: 0.6;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #000000;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.hostel-slideshow-container{

  display: flex;
justify-content: center;
margin-top: 50px;
background-attachment: fixed;
}
.map-centre{
  
  display: flex;
  justify-content: center;
  background-attachment:fixed;
}
.carousel-item{
  border: 5px solid #000000;
  width: 100%;
}

.about-content{
  margin-top: 70px;
}



.about-item{
 border: 5px solid #000000;
   width: 100vw;

}