{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> List of complaints </h3>
                    
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for complaint in complaint_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ complaint.title }}</h2>
                    <p class="card-text text-muted h6">{{ complaint.author }} | {{ complaint.date}} </p>
                    <p class="card-text">{{complaint.content|slice:":200" }}</p>
                    
                </div>
            </div>
            {% endfor %}

                    <div class="pagination" style="margin-left: 100px;margin-top: 50px">
            <span>
                {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?{% query_transform request page=1 %}">&laquo; first</a>
                <a class="btn btn-outline-info mb-4" href="?{% query_transform request page=page_obj.previous_page_number %}">previous</a>
                {% endif %}
                <span class="current btn btn-info mb-4">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?{% query_transform request page=page_obj.next_page_number %}">next</a>
                <a class="btn btn-outline-info mb-4" href="?{% query_transform request page=page_obj.paginator.num_pages %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        
</div>
{%endblock%}